img {
  width: 150px;
}

.City {
  font-size: 45px;
}

.Show-weather {
  text-align: center;
  margin-top: 40px;
  padding: 40px;
}

.Show-weather li {
  list-style: none;
}

.Search {
  margin: 60px;
}

.temp {
  font-size: 60px;
  position: relative;
  top: 20px;
}
